# Python
__pycache__/
*.py[cod]

# Node
**/node_modules/
**/dist/

# Python virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 
# Secrets 
.env 
medical-app-backend/.env 
